/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GERAL */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

/* SEÇÃO HERO */
.hero {
  background: #333;
  color: #fff;
  padding: 80px 20px;
  text-align: center;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 20px;
}

/* CONTAINER PRINCIPAL */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}

/* SEÇÃO SOBRE MIM */
#sobre {
  padding: 30px 0;
}

#sobre h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

/* SEÇÃO FORMAÇÃO */
#formacao {
  background-color: #f9f9f9;
  padding: 30px 0;
}

#formacao ul {
  list-style-type: none;
}

#formacao li {
  font-size: 18px;
  margin-bottom: 10px;
}

/* SEÇÃO PORTFÓLIO */
#portfolio {
  padding: 30px 0;
}

.projetos {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  width: 30%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: all 0.3s ease;
}

.card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* SEÇÃO DIFERENCIAIS */
#diferenciais {
  background-color: #f9f9f9;
  padding: 30px 0;
}

#diferenciais ul {
  list-style-type: none;
  font-size: 18px;
}

#diferenciais li {
  margin-bottom: 10px;
}

/* SEÇÃO CONTATO */
#contato {
  padding: 30px 0;
}

#contato p {
  font-size: 18px;
  margin-bottom: 10px;
}

#contato form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#contato input, #contato textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#contato button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

#contato button:hover {
  background-color: #555;
}

#msg {
  margin-top: 15px;
  font-size: 16px;
  color: green;
}

/* SEÇÃO FOOTER */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: left;
}
